<!--The content below is only a placeholder and can be replaced.-->
<h1>NEURAL NET APPLICATION</h1>
<section>
    <div class="image-wrapper">
        <img *ngIf="imageIsLoaded" src="{{imageName ? 'http://localhost:5000/' + imageName : ''}}" class="image-block">
        <mat-spinner *ngIf="!imageIsLoaded"></mat-spinner>
    </div>
</section>
<section>
    <form class="upload-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="file" formControlName="originalImage" (change)="onFileChange($event,'originalImage')"/>
        <input type="file" formControlName="styleImage" (change)="onFileChange($event, 'styleImage')"/>
        <div>
            <button mat-flat-button [disabled]="!form.get('originalImage').value || !form.get('styleImage').value"
                    color="primary" type="submit">Upload</button>
        </div>
    </form>
</section>

<router-outlet></router-outlet>
